@import "tailwindcss";

.mainDashboardContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  background-color: #FFFFFF;
}

.navBarContainer {
  background-color: #F5F6F8;
  width: 260px;
  padding: 0.5rem;
}

.avatar-card {
    display: flex;
    align-items: center;
    padding: 0.5rem 0rem;
    gap: 0.5rem;
}
