/** ========= General Code For Big Containers ================= */

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Medium.ttf");
}

.container {
  margin: 0;
  padding: 0;
  display: flex;
  height: 100vh;
  width: 100%;
  background-color: #ffffff;
  color: #000000;
  overflow: hidden;
  font-family: "Roboto";
}

/*! =================== Login Form ========================= */

/** === Left Side Container === **/

.form {
  margin: 0;
  padding: 0;
  color: #000000;
  font-family: "Roboto";
  display: flex;
  flex-direction: column;
  margin-top: 7%;
  width: 40%;
  padding: 0 7%;
  gap: 15px;
}

.header {
  display: flex;
  align-items: center;
}

.logo {
  width: 3rem;
}

.logo_text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.BrandName {
  font-size: 1.5rem;
  font-weight: 600;
  color: #7569ff;
}

.welcome {
  font-size: 2rem;
  font-weight: bold;
}

.inputPlace {
  display: flex;
  flex-direction: column;
  padding: 0 5px 5px 0;
}

.label {
  padding: 5px;
}

.Req {
  color: red;
}

.inputTag {
  height: 20px;
  padding: 4% 3%;
  border: 1px solid gray;
  border-radius: 7px;
}

.moreInfo {
  display: flex;
  justify-content: space-between;
  padding: 20px 10px;
  font-size: 1.025rem;
}

.submit {
  width: 100%;
  height: 20%;
  background-color: #5138ee;
  font-size: 1.125rem;
  color: #ffffff;
  border: none;
  padding: 10px 0;
  border-radius: 6px;
  transition: 0.25s;
}
.submit:hover {
  background-color: #000000;
  transition: 0.25s;
  color: white;
}

.googleLog {
  width: 100%;
  position: relative;
  padding-top: 20px;
  height: 5px;
}
.googleLogText {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 10px;
}
.googleLogSpan {
  background-color: #ffffff;
  padding: 5px 10px;
}
.button {
  width: 100%;
  margin-top: 5px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: 1px solid gray;
  border-radius: 6px;
  transition: 0.25s;
  font-size: 1.25rem;
}
.button:hover {
  background-color: #000000;
  color: white;
  transition: 0.25s;
}
.Icon {
  padding: 0px 15px;
  width: 12%;
}
.register {
  text-align: center;
  padding: 10px;
  font-size: 0.9rem;
}

.sideImg {
  width: 60%;
  height: 100%;
  background-image: url(../images/log.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (max-width: 1000px) {
  .moreInfo {
    font-size: 0.8rem;
  }
}

@media (max-width: 755px) {
  .container {
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .form {
    position: absolute;
    background-color: #ffffff;
    margin: 0;
    padding: 5% 0;
    justify-content: center;
    align-items: center;
    width: 80%;
    border-radius: 8px;
    height: auto;
  }
  .form > * {
    width: 80%;
  }
  .sideImg {
    width: 100%;
  }
}
@media (max-width: 400px) {
  .form {
    font-size: 0.8rem;
  }
}
